<div class="main">
	
	<h1 class="heading">Capoeira Angolaについて</h1>

	<div class="contents">
		<h2 class="title">Capoeiraとは？</h2>
		<div class="contents-wrapper clearfix">
			<div class="c-image">
				<%= image_tag "pic1.jpg" %>
			</div>
			<div class="c-description">
				<p>　Capoeira（カポエイラ）とは、ブラジル発祥の伝統武道で、格闘技とダンスが合わさったものです。</p>
			</div>
		</div>
	</div>
	
	<div class="contents">
		<h2 class="title">Capoeira Angolaとは？</h2>
		<div class="contents-wrapper clearfix">
			<div class="c-image">
				<%= image_tag "pic2.jpg" %>
			</div>
			<div class="c-description">
				<p>カポエイラには様々な流派があり、中でもAngola（アンゴラ）という流派はより伝統を意識した流派になります。</p>
			</div>
		</div>
	</div>	
	
</div>

<!--サイドスペース-->
<div class="sidemenu">

</div>

