<div class="main">
	
	<h1 class="heading">団体について</h1>
	
	<div class="contents">
		<h2 class="title">Mestre Joao Grande</h2>
		<div class="contents-wrapper clearfix">
			<div class="c-image">
				<%= image_tag("group/MJG.png", width: 200) %>
			</div>
			<div class="c-description">
				<p>私たちのグループのMestre João Grande（メストレ・ジョアングランジ）。1933年1月15日にブラジルのバイーア州 イタギという町で生を受けました。
				彼はカポエィラ・アンゴラ界における伝説のメストレの一人であるMestre pastinha（メストレ・パスチーニャ）の直接の生徒でした。
				カポエイラ・アンゴラに60年以上専念し、世界で尊敬されるメストレの一人です。
				メストレ・ジョアングランジはニューヨークに”Capoeira Angola center”のアカデミアを開き、カポエイラ・アンゴラの歴史と伝統を尊重し、哲学や生き方を教え続けています。
				彼のその教えを受けた人達は国境を越えて世界中に広がっています。
				それらの貢献が認められウプサラ大学から人文博士号を授与されたほか、アメリカ合衆国における伝統芸能の実践者に贈られる最も権威ある米国立芸術基金から人間国宝の称号も受賞しています。
				また、2015年にはブラジル文化勲章を受賞するなど彼の活動は偉大なものとなっています。</p>
			</div>
		</div>
	</div>

	<div class="contents">
		<h2 class="title">Contramestre Denis</h2>
		<div class="contents-wrapper clearfix">
			<div class="c-image">
				<%= image_tag("group/CMD.png", width: 200) %>
			</div>
			<div class="c-description">
				<p>ブラジル　サンパウロ　ジュンディアイ出身の彼は1988年よりカポエイラをスタートさせ、その経験は20年以上になります。
				2013年４月には、メストレ・ジョアングランジに”Capoeira  Angola Center”のグループとして認められ、現在アメリカのイリノイ州シャンペーンのアカデミアにてカポエイラを教えています。
				メストレ・ジョアングランジの生徒として受け入れられた事は、彼にとって大変名誉なことでした。
				2004年以来、アーバナのイリノイ大学のダンス部門で客員講師としてカポエイラのインストラクターをしています。また、同大学で国際カポエイラ会議を主催したUIUCカポエイラクラブの施設顧問でもあります。
				2017年10月にはメストレ・ジョアングランジからContra Mestre(準師範）の資格を授与されました。</p>
			</div>
		</div>
	</div>
</div>


<!--サイドスペース-->
<div class="sidemenu">

</div>

