<div class="main">
	<h1 class="heading">帯広クラス ―Class Ohihiro－</h1>
	<div class="lesson-info">
		<h2 class="title">帯広クラスについて</h2>
		<div class="li-wrapper">
			<div class="li-image">
				<%= image_tag "pic-obihiro.jpg" %>
			</div>
			<div class="li-description">
				<p>　私たちのクラスは帯広市を拠点に活動しています。週に１回の通常練習と、不定期に初心者向け体験会”Vamos Capoeira!”を開催し、カポエイラの技術向上と普及に努めています。</p>
				　メンバーは男女比半々で、年齢は２０代～３０代で活動しています。新しい趣味としてカポエイラに挑戦したい方、歓迎いたします！
			</div>
		</div>
	</div>

	<div class="lesson-details">
		<h2 class="title">クラス情報</h2>
		<div class="ld-description">
			<p>※練習日時や場所はは急きょ変更になる場合があります。サイドメニューの<a href="https://angolaobihiro.1net.jp/bbs.html">「掲示板」 </a>をご確認ください！</p>
			<p>※練習には上靴、長ズボンＴシャツなど動きやすい服装をご持参ください（半ズボンはご遠慮ください）。見学もＯＫです。お気軽にお越しください！</p>
		</div>

		<div class="ld-class-wrapper">
			<h3 class="subheading">【通常練習】毎週 日 曜日</h3>
			<div class="ld-class-description">
				<p>時間：19:00～21:00</p>
				<p>場所：帯広の森コミュニティセンター</p>
				<p>住所：空港南町南１１線４３番地</p>
			</div>
			<div class="ld-class-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.6209102768403!2d143.15349231501588!3d42.880844910046676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f739baa5799e59d%3A0x3f8b758d53f2d1b9!2z5biv5bqD44Gu5qOu44Kz44Of44Ol44OL44OG44Kj44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1559561711777!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="ld-class-wrapper">
			<h3 class="subheading">【体験会"Vamos Capoeira!"】 不定期開催</h3>
			<div class="ld-class-description">
				<p>カポエィラを楽しもう！ カポエイラにトライしてみたい方のための、</p>
				<p>未経験者・初心者大歓迎の練習会です。</p>
				<br>
				<p>場所：とかちプラザ 5F フィットネススタジオ</p>
				<p>住所：北海道帯広市西４条南１３丁目1</p>
			</div>
			<div class="ld-class-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2921.8961609458343!2d143.19851571501707!3d42.91723090772566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f7399419ae5427d%3A0xba49321d5723866f!2z44Go44GL44Gh44OX44Op44K2!5e0!3m2!1sja!2sjp!4v1559563590781!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

	</div>
</div>


<!--サイドスペース-->
<div class="sidemenu">
	<h2>掲示板</h2>
	<div class="information">
		練習連絡用の掲示板です！
		<a href="https://angolaobihiro.1net.jp/bbs.html"><img src="images/obihiro/keijiban.jpg"></a>
		<hr width="270px" align="left">
	</div>
</div>
  
  
