<div class="main">
	<h1 class="heading">札幌クラス ―Class Sapporo－</h1>
	<div class="lesson-info">
		<h2 class="title">札幌クラスについて</h2>
		<div class="li-wrapper clearfix">
			<div class="li-image">
				<%= image_tag "pic-sapporo.jpg" %>
			</div>
			<div class="li-description">
				<p>　札幌市白石区を拠点に活動しています。専用の道場を構え本格的な雰囲気の中練習ができます。金曜日にはアクセスのよいスタジオでも練習しています。カポエィラ・アンゴラを学ぶ最適な環境です！</p>
			</div>
		</div>
	</div>


	<div class="lesson-details">
		<h2 class="title">クラス情報</h2>
		<div class="ld-description">
			<p>※練習日時や場所はは急きょ変更になる場合があります。<a href="https://www.facebook.com/Capoeiraangolasapporo/">facebook </a>にてご確認ください！</p>
			<p>※練習には上靴、長ズボンＴシャツなど動きやすい服装をご持参ください（半ズボンはご遠慮ください）。見学もＯＫです。お気軽にお越しください！</p>
		</div>

		<div class="ld-class-wrapper">
			<h3 class="subheading">【通常練習】毎週 月・水・土 曜日</h3>
			<div class="ld-class-description">
				<p>時間：21:00～23:00</p>
				<p>場所：札幌アカデミア</p>
				<p>住所：札幌市白石区川北2327-22</p>
			</div>
			<div class="ld-class-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.6244505660934!2d141.4314972151847!3d43.070365497940635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2c0f7e1bd4b9%3A0xf6fbef1a8329496c!2z44CSMDAzLTA4NTkg5YyX5rW36YGT5pyt5bmM5biC55m955-z5Yy65bed5YyX77yS77yT77yS77yX!5e0!3m2!1sja!2sjp!4v1559566852103!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		
		<div class="ld-class-wrapper">
			<h3 class="subheading">【通常練習】毎週 金 曜日</h3>
			<div class="ld-class-description">
				<p>場所：スタジオ・アマンテ　デル　バイレ</p>
				<p>住所：札幌市白石区南郷通17丁目南6-18</p>
			</div>
			<div class="ld-class-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23330.797810504984!2d141.4065279949833!3d43.03407268455805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2b0e51cb2c81%3A0x85efb7f7d125a213!2z44Os44Oz44K_44Or44K544K_44K444Kq44O744Ki44Oe44Oz44OGIOODh-ODqyDjg5DjgqTjg6w!5e0!3m2!1sja!2sjp!4v1559566965306!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>

	</div>
	
</div>

<!--サイドスペース-->
<div class="sidemenu">
	<h2>facebook</h2>


</div>


